.sidebar{
  width: 200px;
  height: 100%;
  background-color:#ffc100;
  position: fixed;
  height:100%;
  z-index:1;
  top:0;
  left:0;
}

.heading{
  width: 500px;
  margin: auto;
  margin-top: 100px;
  padding:10px;
  background-color:#ffca1e;
  text-align: center;
}

span{
  font-size: 25px;
  width:100%;
  font-weight: bold;
}

#entry{
  border: none;
  width: 450px;
  height: 30px;
}

.list{
  width: 500px;
  margin: auto;
  padding:10px;
  max-height: 500px;
  overflow: auto;
  background-color:#ffca1e;
  margin-bottom:10px;
}

ul{
  margin: 0;
  padding: 0 0 0 5px;
  list-style: none;
  line-height:25px;
  font-size: 18px;
}

li.dark{
  background-color:#ff691e;
}

li.light{
  background-color: #ff8a1e;
}

li{
  padding: 8px;
}

li.clicked{
  background-color: #6b6257;
  text-decoration: line-through;
  transition: 0.3s;
}

.main{
  margin-left:200px;
}

body{
margin:0px;
}
