<!DOCTYPE html>
<html>
  <head>
    {% block title %}<title>NoteKeeper</title>{% endblock %}
    {% load static %}<link rel="stylesheet" type="text/css" href="{% static 'notes/notes.css'%}">
    <script src="{% static 'notes/notes.js'%}"></script>
  </head>
  <body>
    {% block sidebar %}
    <div class="sidebar">
      <span>All Todos</span>
      <ul>
        {% for task in tasks %}
        <li><a href="{{ task.get_absolut_url }}">{{ task.title }}</a></li>
        {% endfor %}
      </ul>
      <a href ="{% url 'logout' %}">Logout</a>
    </div>
    {% endblock %}
    {% block content %}{% endblock %}
  </body>
</html>
