<!DOCTYPE html>

<html>
  <head>
    <title>ToDo</title>
{% load static %}
<link type="text/css" rel="stylesheet" href="{% static "notes/notes.css"%}"
  </head>

  <body>
    <div class="heading">
      <span>Your ToDos</span><br /><br />
      <input type="text" id="entry" onkeypress="enter(event)" placeholder = "Add a new todo and hit Enter">
    </div>
    <div class="list">
      <ul id="list">
      </ul>
    </div>
    <script src="{% static "/notes/notes.js" %}"></script>
  </body>
</html>
